<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Noto+Sans+KR&display=swap'); </style>
    <title>PicIt!</title>
  </head>
  <body>
    <div class="main_screen-container">
      <div class="title-container">
        <div class="main-title-box">
          <div class="icon-container"><i class="fa-solid fa-certificate"></i></div><h1 class="title">PICIT</h1>
        </div>
        
        <div class="sub-titles-container">
          <p class="sub-titles">upload</p>
          <p class="sub-titles">capture</p>
          <p class="sub-titles">fun!</p>
        </div>
      </div>
      <div class="main-contents-box">
        <div class="left-container">
          <div class="left-content-box">
            <div class="usage-container">
              <p class="slogan">Pic it! Pick it!</p><br>
              <p class="how-to-use">PICIT은 OCR과 NLP기술을 응용하여 만들어진 단어 검색 웹사이트입니다.</p><br>
              <p class="how-to-use">OCR이란? 광학 문자 인식(OCR)은 텍스트 이미지를 기계가 읽을 수 있는 텍스트 포맷으로 변환하는 과정입니다. </p><br>
              <p class="how-to-use">NLP란? 자연어 처리(NLP)는 컴퓨터가 인간의 언어를 이해하고 해석하며 조작하도록 돕는 인공지능(artificial intelligence)의 한 분야입니다.</p><br>
              <p class="how-to-use">PICIT은 이 두가지 기술을 통해 사진상의 텍스트를 찾아내고, 그 안의 단어를 인식하여 의미를 알려주는 서비스입니다.</p><br>
            </div>
            <div class="form-box">
              <form
              action="/result"
              method="POST"
              enctype="multipart/form-data"
              class="form-container"
            >
              <input type="file" name="image" class="upload-img" />
              <button type="submit" class="submit-btn" onclick="hideScreen()"><i class="fa-solid fa-arrow-up-from-bracket"></i></button>
            </form>
            </div>
          </div>
          
        </div>
        <div class="right-container">
          <div class="project-desc-container">
            <div class="how-img-container">
              <img src="imgs/사용방법.png" alt="" class="how-to-use-img">
            </div>
            <div class="desc-box">
              <div class="how-title-container">
                <p class="project-desc-title">찍고, 올리고, 공부하세요!</p>
              </div>
              <div class="about-container">
              <p class="about-project">1. 사진을 업로드 해주세요.</p> <br>
              <p class="about-project">2. 분석이 되는 동안 기다려주세요. </p><br>
              <p class="about-project">3. 분석이 다 되면 사진안의 단어들이 뜰거에요. </p><br>
              <p class="about-project">4. 원하는 단어만 pick!  </p><br>
              <p class="about-project">5. 선택한 단어를 이메일로 공유하세요!  </p><br>
              <p class="about-project"></p>
              </div>
            </div>
        </div>
        </div>
      </div>
      
        <div class="footer-container">
          <marquee class="footer" behavior="scroll">
            Developed by Jiwoong Shinn, Sungwon Yuk. As a part of the graduation project @SEOULTECH.
          </marquee>
        </div>
      </div>
    </div>
    <div class="loading-screen-container">
      <div class="loading-symbol-container">
        <img src="imgs/picit_loading_graphic.png" class="loading-symb" alt="">
        <p class="loading-text">Processing is on the way...</p>
      </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
      const sub_title_container = document.querySelector('.sub-titles-container')
      const sub_titles = sub_title_container.children;
      const loading_symb = document.querySelector(".loading-symb");
      const mainScreen = document.querySelector(".main-screen-container");
      const loadingScreen = document.querySelector(".loading-screen-container")

      window.onload = function(){
        let i = 0
        setInterval(()=>{
          if(i ==2){
            i = 0
            sub_titles[i].style.opacity = "100%";
            sub_titles[i+1].style.opacity = "20%";
            sub_titles[i+2].style.opacity = "20%";
          }else if(i == 0){
            i++;
            sub_titles[i].style.opacity = "100%";
            sub_titles[i+1].style.opacity = "20%";
            sub_titles[i-1].style.opacity = "20%";
          }else if(i==1){
            i++;
            sub_titles[i].style.opacity = "100%";
            sub_titles[i-2].style.opacity = "20%";
            sub_titles[i-1].style.opacity = "20%";
          }
        }, 2000)
      }
    </script>
  </body>
</html>
