<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;600&family=Noto+Sans+KR&display=swap");
    </style>
    <!-- <script src="/views/js/result.js"></script> -->
    <title>PicIt!</title>
  </head>
  <body>
    <div class="title-container">
      <div class="icon-container"><i class="fa-solid fa-certificate"></i></div>
      <h1 class="title">RESULT</h1>
      <form action="/" method="get" class="home-container">
        <button type="submit" class="home-btn">HOME</button>
      </form>
    </div>
    <div class="main-content-container">
      <div class="result-container">
        <p class="description">분석결과 :</p>
        <p class="description"><%=words_len%></p>
        <p class="description">개의 단어가 발견되었습니다!</p>
        <br />
        <p class="description">
          아래의 단어들 중 이미 아는 단어를 클릭해서 없애주세요!
        </p>
        <br />
        <div class="word-container"></div>
        <div class="word-meaning-container">
          <div class="word-meaning-title"></div>
          <!-- <div class="meaning-delete-btn">
            <div class="meaning-delete-left"></div>
            <div class="meaning-delete-right"></div>
          </div> -->
          <p class="word-meaning"></p>
        </div>
      </div>
      <div class="fake-container"></div>
      <div class="footer-container">
        <marquee class="footer" behavior="scroll">
          Developed by Jiwoong Shinn, Sungwon Yuk. As a part of the graduation
          project @SEOULTECH.
        </marquee>
      </div>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      <script>
        let wordArray = `<%-title%>`;
        let wordMeaning = `<%-meaning%>`;
        let arr = wordArray.split(",");
        let final_arr = [];
        let final_meaning = [];
        let lenOfWords = arr.length;
        let mean_arr = wordMeaning.split("|SPLIT|");
        const regex_number = new RegExp(/[1-9]*/);
        const word_list = document.querySelector(".word-container");
        const word_title = document.querySelector(".word-meaning-title");
        const word_meaning = document.querySelector(".word-meaning");
        const result_container = document.querySelector(".result-container");

        const word_meaning_container = document.querySelector(
          ".word-meaning-container"
        );

        console.log(arr);
        console.log(mean_arr);
        // filtering words
        for (let i = 0; i < lenOfWords; i++) {
          let str = mean_arr[i];
          let replaced_str = str.replace(",", "");
          mean_arr[i] = replaced_str;
        }
        for (let i = 0; i < lenOfWords; i++) {
          if (mean_arr[i] == "") {
            continue;
          } else if (arr[i].length <= 2) {
            continue;
          } else if (final_arr.includes(arr[i]) == true) {
            continue;
          }
          //  else if (regex_number.test(arr[i]) == true) {
          //   continue;
          // }
          final_arr.push(arr[i]);
          final_meaning.push(mean_arr[i]);
        }
        let word_num = result_container.childNodes;
        let show_words_len = final_arr.length;
        window.onload = function () {
          // console.log(word_num);
          word_num[3].innerText = show_words_len;
          for (let i = 0; i < show_words_len; i++) {
            const temp = document.createElement("div");
            temp.className = "single-word-container";
            temp.innerHTML = `<div class="single-container"><p class="word">${final_arr[i]}</p><div class="delete-btn"><div class="delete-left"></div><div class="delete-right"></div></div></div>`;
            // console.log(temp_arr);
            word_list.append(temp);
          }
          setTimeout(function () {
            word_list.style.opacity = "100%";
          }, 1000);
        };
        // showing results
        window.addEventListener("click", (e) => {
          if (e.target.classList[0] == "delete-btn") {
            let parent = e.target.parentNode.parentNode;
            show_words_len = show_words_len - 1;
            // let word_container = e.target.parentNode;
            parent.style.opacity = "0%";
            word_num[3].innerText = show_words_len;
            setTimeout(function () {
              parent.remove();
            }, 300);
          } else if (e.target.classList[0] == "word") {
            let parent = e.target.parentNode.parentNode;
            parent.style.backgroundColor = "#47ff14";
          }
          console.log(e.target.classList);
        });
        window.addEventListener("mouseover", (e) => {
          if (e.target.classList[0] == "word") {
            word_meaning_container.style.opacity = "0%";
            word_meaning_container.style.display = "inline-block";
            word_meaning_container.style.left = `${e.pageX}px`;
            word_meaning_container.style.top = `${e.pageY}px`;
            setTimeout(function () {
              word_title.innerText = e.target.innerText;
              word_meaning.innerText =
                final_meaning[final_arr.indexOf(e.target.innerText)];
            }, 300);
            setTimeout(function () {
              word_meaning_container.style.opacity = "100%";
            }, 500);
          } else {
            word_meaning_container.style.opacity = "0%";
            word_meaning_container.style.display = "none";
            setTimeout(function () {
              word_title.innerText = "";
              word_meaning.innerText = "";
            }, 300);
          }
        });
      </script>
    </div>
  </body>
</html>
