@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
*::selection{
    background-color: #00ff2d;
}
body{
    font-family: 'Noto Sans KR';
    background-color: rgb(250, 250, 250);
    overflow-x : hidden;

}
.main-screen-container{
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.main-title-box{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgb(25, 25, 25);
}
.title-container{
    background-color: rgb(250, 250, 250);
    border-bottom: solid 0.1rem rgb(25, 25, 25);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 10%;

}
.title{
    font-family: "DungGeunMo";
    /* border-right: solid 1px rgb(25, 25, 25); */
    font-size: 3rem;
    font-weight: lighter;
    color: rgb(25, 25, 25);
    /* margin-top: 0.5rem; */
    margin:0rem 1rem;
    /* padding: 0.5rem; */
    /* text-decoration: underline 0.1rem rgb(25, 25, 25); */
}
.title-container i{
    display:inline-block;
    /* margin-top: 1.4rem; */
    /* position: absolute; */
    font-size: 2.5rem;
    /* margin-top: 1.3rem; */
    /* margin-left: 1rem; */
    /* font-weight: lighter; */
    color: #00ff2d;
    /* transform: rotate(360deg); */
    animation: rotate_image 2s cubic-bezier(.76,-0.01,.23,1) infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
.sub-titles-container{
    display: flex;
    margin-left: 42rem;
    /* right: 0; */

}
.sub-titles{
    font-family: "DungGeunMo";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: lighter;
    /* margin-top: 0.5rem; */
    color: rgb(25, 25, 25);
    transition: all 0.2s cubic-bezier(.76,-0.01,.23,1);
}
.form-container{
    /* position: absolute; */
    /* width: 100%; */
    /* background-color: rgb(250, 250, 250); */
    top: 15rem;
    margin-top: 2rem;
    left: 1rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
}
.home-container{
    /* position: absolute; */
    margin: 1.3rem;
    /* top: 0rem; */
    /* left: 10rem; */
    display: inline-block;
}
.home-btn{
    font-family: "DungGeunMo";
    font-size: 1.5rem;
    font-weight: lighter;
    border: solid 2px rgb(25, 25, 25);
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    padding: 0.5rem;
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
}
.home-btn:hover{
    background-color: #00ff2d;
    color: rgb(25, 25, 25);
}
.upload-img{
    font-family: "DungGeunMo";
    border: none;
    color: rgb(25, 25, 25);
    font-size: 1.5rem;
    font-weight: lighter;
    /* background-color: rgb(250, 250, 250); */
    padding-right: 0rem;
}
.submit-btn{
    background-color: rgb(250, 250, 250);
    border: none;
    margin-left: 0;
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
}

.submit-btn:hover .fa-arrow-up-from-bracket{
    /* border: none; */
    background-color: #00ff2d;
    color: rgb(25, 25, 25);

}
.submit-btn i{
    border: 1.3px solid rgb(25, 25, 25);
    border-radius: 30px;
    padding: 1rem;
    font-size: 2rem;
    /* font-weight: lighter; */
    padding: 1rem 1.5rem;
    color: rgb(25, 25, 25);
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
}

.main-content-container{
    width: 100vw;
    /* height: 10%; */
    position: absolute;
    top: 0rem;
    padding-top: 5rem;
}
.fake-container{

    width: 100vw;
    height: 30vh;
}
.status-container{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    border-bottom: solid 1px rgb(25, 25, 25);
}
.result-status-container{
    /* border-bottom: solid 2px rgb(25, 25, 25); */
    margin-left: 1rem;
    padding: 1rem 0rem;
}
.highlight-container{
    opacity: 0%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
    border-top: solid 1px rgb(25, 25, 25);
    padding: 0.5rem 0rem;
}
.highlight-desc-box{
    display: flex;
    justify-content: center;
    align-items: center;

}
.highlight-desc{
    font-family: "DungGeunMo";
    font-size: 1.2rem;
}
.word-picked{
    font-size: 1.2rem;
    font-family: "DungGeunMo";
    color: rgb(25, 25, 25);
    text-decoration: underline 1px #00ff2d;
}
.select-done{
    font-family: "DungGeunMo";
    border: solid 2px rgb(25, 25, 25);
    font-size: 1.2rem;
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    cursor: grab;
}
.select-reset{
    font-family: "DungGeunMo";
    border: solid 2px rgb(25, 25, 25);
    font-size: 1.2rem;
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    cursor: grab;
}

.select-reset:hover{
    background-color: #00ff2d;
}
.select-done:hover{
    background-color: #00ff2d;
}
.description{
    font-family: "DungGeunMo";
    display: inline-block;
    font-weight: lighter;
    font-size: 1.2rem;
    /* background-color: rgb(200, 200, 200); */
    /* margin-top: 1rem; */
    padding: 0.2rem;
    color: rgb(25, 25, 25);
}
.word-found{
    font-family: "DungGeunMo";
    display: inline-block;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(25, 25, 25);
    text-decoration: underline 1px #00ff2d;
    /* border: solid 2px rgba(101, 100, 100, 0.599);
    border-radius: 30px;
    background-color: rgb(250, 250, 250); */
    transition: all 0.01s cubic-bezier(.16,.41,.83,.49);
}
.result-container{
    /* display: flex; */
    line-break: auto;
}


/* Footer */
.footer-container{
    font-family: 'DungGeunMo';
    position: fixed;
    width: 100vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    border-top: solid 0.1rem rgb(25, 25, 25);
    font-weight: lighter;
    /* padding-bottom: 1rem; */
    background-color: rgb(250, 250, 250);
}
.footer{
    font-family: 'DungGeunMo';
    color: rgb(25, 25, 25);
}
/* Single word styling */
.word-container{
    margin-left: 8rem;
    margin-right: 8rem;
    /* height: 100vh; */
    transition: all 0.4s cubic-bezier(.16,.41,.83,.49);
    opacity: 0%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: solid 0.1rem rgb(25, 25, 25); */
}
.word-container-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-word-container{
    cursor: grab;
    display: inline-block;
    /* width: 10%;
    height: 5%; */
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(101, 100, 100, 0.599);
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    transition: all 0.01s cubic-bezier(.16,.41,.83,.49);

}
.single-word-container:hover{
    transform: rotate(10deg);
    filter: drop-shadow(0 0 0.25rem rgb(25, 25, 25));
}
.single-container{
    display: flex;
    justify-items: center;
}
.word{
    font-family: "DungGeunMo";
    /* width: 5rem;
    height: 5rem; */
    margin: auto;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    display: inline-block;
    /* padding: 0.8rem; */
    font-size: 2rem;
    font-weight: normal;
    /* background-color: rgb(250, 250, 250); */
    /* border-radius: 50%; */
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
}
.delete-btn{
    /* font-family: 'Helvetica'; */
    /* cursor: grab; */
    margin: auto;
    /* position: absolute; */
    /* left: 15rem; */
    /* background-color: rgb(250, 250, 250); */
    color: rgb(25, 25, 25);
    /* top: 0%; */
    /* font-size: 2rem; */
    /* font-weight:lighter; */
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    opacity: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    /* margin-left: 1rem; */
}
.delete-left, .delete-right{
    background-color: rgb(25, 25, 25);
    width: 20px;
    height: 1px;
}
.delete-left{
    transform: rotate(-45deg);
}
.delete-right{
    transform: rotate(45deg);
}
.meaning-delete-btn{
    /* font-family: 'Helvetica'; */
    /* cursor: grab; */
    margin: auto;
    position: absolute;
    top: 0rem;
    right: 1rem;
    /* left: 15rem; */
    /* background-color: rgb(250, 250, 250); */
    color: rgb(25, 25, 25);
    /* top: 0%; */
    /* font-size: 2rem; */
    /* font-weight:lighter; */
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 100%;
    padding-right: 0.5rem;
    /* margin-left: 1rem; */
}
.meaning-delete-btn:hover .meaning-delete-left{
    transform: rotate(-45deg);
}
.meaning-delete-btn:hover .meaning-delete-right{
    transform: rotate(45deg);
}
.meaning-delete-left, .meaning-delete-right{
    background-color: rgb(25, 25, 25);
    width: 30px;
    height: 1px;
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
}

.word-meaning-container{
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
    position: absolute;
    display: inline-block;
    background-color: #dcdcdc;
    border: solid 0.1rem rgb(25, 25, 25);
    border-radius: 30px;
    /* right: -100%; */
    top: 0rem;
    width: 20rem;
    opacity: 0%;
    /* height: 30vh; */
    left: 0rem;
    /* transform: translateX(-50%); */
}
.word-meaning-title{
    text-decoration: underline 1px rgb(25, 25, 25);
    font-family: "DungGeunMo";
    font-size: 2rem;
    font-weight: lighter;
    padding-top: 1rem;
    padding-left: 1rem;
}
.word-meaning{
    font-family: "DungGeunMo";
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
/* .delete-btn:hover{
    opacity: 100%;
    background-color: rgb(20, 38, 243);
    color: rgb(250, 250, 250);
} */

/* Project Description */
.main-contents-box{
    display: flex;
    padding-top: 6%;
}
.left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 0 2rem;
    margin-top: 5rem;
    border-right: solid 1px rgb(25, 25, 25);
}
.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-top: 5rem;
}
.desc-box{
    background-color: #dcdcdc;
    border: solid 1.5px rgb(25, 25, 25);
    /* border-radius: 20px; */
    padding: 2rem 2rem;
}
.project-desc-container{
    opacity: 100%;
    
    
    /* border-radius: 30px; */
    /* position: absolute; */
    /* top: 12rem; */
    /* width: 70%; */
    /* height: 50%; */
    /* right: 5rem; */
    /* margin-left: 6rem; */
    /* padding-left: 0.2rem; */
}
.how-img-container{
    /* border: solid 1.5px rgb(25, 25, 25); */
    /* border-radius: 20px; */
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: 10rem; */
    /* left: 57%; */
    transform: translate(-50%, -40%);

}
.how-to-use-img{
    width: 10rem;
    height: 10rem;
    animation: rotate_image 8s linear infinite;
    transform-origin: 50% 50%;
}
.how-title-container{
    /* margin-top: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-desc-title{
    font-family: "DungGeunMo";
    color: rgb(25, 25, 25);
    font-size: 1.5rem;
    font-weight: normal;
    padding: 1rem;
}
.about-container{
    margin-top: 2rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.about-project{
    font-family: "DungGeunMo";
    width: 100%;
    display: block;
    /* padding: 3rem; */
    margin: 0.2rem 1rem;
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(25, 25, 25);
}
.usage-container{
    /* position: absolute; */
    /* padding-top: 2rem; */
    /* top: 5rem; */
    left: 1rem;
    /* width: 50vw; */
    color: rgb(25, 25, 25);
    /* background-color: rgb(250, 250, 250); */
}
.slogan{
    font-family: "DungGeunMo";
    font-size: 2.5rem;
    font-weight: lighter;
    color: rgb(25, 25, 25);
}
.how-to-use{
    font-family: "DungGeunMo";
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(25, 25, 25);
}

/* loading screen design */
.loading-screen-container{
    display: none;
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
    opacity: 0%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(243, 232, 215);
    z-index: -1000;
}
.loading-symbol-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.loading-symb{
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
    width: 2rem;
    height: 2rem;
    animation: rotate_image 2s cubic-bezier(.16,.41,.83,.49) infinite;
    transform-origin: 50% 50%;
}
.loading-text{
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 1.5rem;
    color:rgb(255, 39, 39)
}

/* final result style */
.picked-word-container{
    display: flex;
    border: solid 1px rgb(25, 25, 25);
}
.picked-word-container:hover{
    background-color: #dcdcdc;
}
.picked-word{
    font-family: "DungGeunMo";
    width: 10rem;
    font-size: 1.2rem;
    color: rgb(25, 25, 25);
    /* border-left: solid 1px rgb(25, 25, 25); */
    border-right: solid 1px rgb(25, 25, 25);
    padding: 0.5rem 1rem;

}
.picked-meaning{
    font-family: "DungGeunMo";
    font-size: 1.2rem;
    color: rgb(25, 25, 25);
    padding: 0.5rem 1rem;
}

/* Sending words styles */

.send-form-container{
    padding-top: 0.3rem;
}

.email{
    padding: 0.5rem ;
    font-family: "DungGeunMo";
    font-size: 1.3rem;
    border: solid 1.5px rgb(25, 25, 25);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100vw;
    height: 100vh;
}
.final-word{
    display: block;
    font-family: "DungGeunMo";
    font-size: 3rem;
    padding: 2rem 5rem;

}
.final-description{
    display: block;
    font-family: "DungGeunMo";
    font-size: 1.5rem;
    padding: 2rem 5rem;

}
.send-form-container button{
    font-family: "DungGeunMo";
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(250, 250, 250);
    border: solid 1.5px rgb(25, 25, 25);
    border-radius: 30px;
    margin-left: 0;
    transition: all 0.1s cubic-bezier(.16,.41,.83,.49);
}
.send-form-container button:hover{
    background-color: #00ff2d;
}