
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

body{
    font-family: 'Noto Sans KR';
    background-color: rgb(250, 250, 250);
    overflow-x : hidden;

}

.title-container{
    background-color: rgb(250, 250, 250);
    /* border-bottom: solid 0.1rem rgb(25, 25, 25); */
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 10%;

}
.title{
    font-family: "Helvetica";
    /* position: absolute; */
    border: solid 2px rgb(25, 25, 25);
    border-radius: 30px;
    /* background-color: rgb(20, 38, 243); */
    /* top: 0rem; */
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(25, 25, 25);
    margin: 1rem;
    padding: 0.5rem;
    /* text-decoration: underline 0.1rem rgb(25, 25, 25); */
}
.title-container i{
    display: none;
    /* position: absolute; */
    font-size: 2rem;
    color: rgb(25, 25, 25);

}
.form-container{
    position: absolute;
    /* width: 100%; */
    /* background-color: rgb(250, 250, 250); */
    top: 25rem;
    margin-top: 2rem;
    left: 1rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
}
.home-container{
    /* position: absolute; */
    margin: 1rem;
    /* top: 0rem; */
    /* left: 10rem; */
    display: inline-block;
}
.home-btn{
    font-family: "Helvetica";
    font-size: 2rem;
    font-weight: lighter;
    border: solid 2px rgb(25, 25, 25);
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    padding: 0.5rem;
    transition: all 0.1s ease-in-out;
}
.home-btn:hover{
    background-color: #47ff14;
    color: rgb(250, 250, 250);
}
.upload-img{
    font-family: "Helvetica";
    border: none;
    color: rgb(25, 25, 25);
    font-size: 1.5rem;
    font-weight: lighter;
    /* background-color: rgb(250, 250, 250); */
    padding-right: 0rem;
}
.submit-btn{
    border: 2px solid rgb(25, 25, 25);
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-left: 0;
    transition: all 0.1s ease-in-out;
}

.submit-btn:hover{
    /* border: none; */
    background-color: #47ff14;
    color: rgb(25, 25, 25);

}
.main-content-container{
    width: 100vw;
    height: 150%;
    position: absolute;
    top: 0rem;
    padding-top: 10rem;
}
.fake-container{

    width: 100vw;
    height: 30vh;
}
.description{
    display: inline-block;
    font-weight: lighter;
    font-size: 1.2rem;
    /* background-color: rgb(200, 200, 200); */
    /* margin-top: 1rem; */
    padding: 1rem;
    color: rgb(25, 25, 25);
}
.result-container{
    /* display: flex; */
    line-break: auto;
}


/* Footer */
.footer-container{
    font-family: "Helvetica";
    position: fixed;
    width: 100vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    border-top: solid 0.1rem rgb(25, 25, 25);
    font-weight: lighter;
    /* padding-bottom: 1rem; */
    background-color: rgb(250, 250, 250);
}
.footer{
    color: rgb(25, 25, 25);
}
/* Single word styling */
.word-container{
    margin-left: 8rem;
    margin-right: 8rem;
    height: 100vh;
    transition: all 0.4s ease-in-out;
    opacity: 0%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: solid 0.1rem rgb(25, 25, 25); */
}
.single-word-container{
    cursor: grab;
    display: inline-block;
    /* width: 10%;
    height: 5%; */
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(101, 100, 100, 0.599);
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    transition: all 0.1s ease-in-out;

}
.single-word-container:hover{
    transform: rotate(10deg);
}
.single-container{
    display: flex;
    justify-items: center;
}
.word{
    font-family: 'Helvetica';
    /* width: 5rem;
    height: 5rem; */
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    /* padding: 0.8rem; */
    font-size: 2rem;
    font-weight: normal;
    /* background-color: rgb(250, 250, 250); */
    /* border-radius: 50%; */
    transition: all 0.1s ease-in-out;
}
.delete-btn{
    /* font-family: 'Helvetica'; */
    /* cursor: grab; */
    margin: auto;
    /* position: absolute; */
    /* left: 15rem; */
    /* background-color: rgb(250, 250, 250); */
    color: rgb(25, 25, 25);
    /* top: 0%; */
    /* font-size: 2rem; */
    /* font-weight:lighter; */
    transition: all 0.1s ease-in-out;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    opacity: 100%;
    padding-right: 0.5rem;
    /* margin-left: 1rem; */
}
.delete-left, .delete-right{
    background-color: rgb(25, 25, 25);
    width: 20px;
    height: 1px;
}
.delete-left{
    transform: rotate(-45deg);
}
.delete-right{
    transform: rotate(45deg);
}
.meaning-delete-btn{
    /* font-family: 'Helvetica'; */
    /* cursor: grab; */
    margin: auto;
    position: absolute;
    top: 0rem;
    right: 1rem;
    /* left: 15rem; */
    /* background-color: rgb(250, 250, 250); */
    color: rgb(25, 25, 25);
    /* top: 0%; */
    /* font-size: 2rem; */
    /* font-weight:lighter; */
    transition: all 0.1s ease-in-out;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 100%;
    padding-right: 0.5rem;
    /* margin-left: 1rem; */
}
.meaning-delete-btn:hover .meaning-delete-left{
    transform: rotate(-45deg);
}
.meaning-delete-btn:hover .meaning-delete-right{
    transform: rotate(45deg);
}
.meaning-delete-left, .meaning-delete-right{
    background-color: rgb(25, 25, 25);
    width: 30px;
    height: 1px;
    transition: all 0.1s ease-in-out;
}

.word-meaning-container{
    transition: all 0.2s ease-in-out;
    position: fixed;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    border: solid 0.1rem rgb(25, 25, 25);
    border-radius: 30px;
    /* right: -100%; */
    top: 20rem;
    width: 20rem;
    opacity: 0%;
    /* height: 30vh; */
    left: 50%;
    transform: translateX(-50%);
}
.word-meaning-title{
    text-decoration: underline 1px rgb(25, 25, 25);
    font-family: 'Helvetica';
    font-size: 2rem;
    font-weight: lighter;
    padding-top: 1rem;
    padding-left: 1rem;
}
.word-meaning{
    font-family: 'Noto Sans KR';
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
/* .delete-btn:hover{
    opacity: 100%;
    background-color: rgb(20, 38, 243);
    color: rgb(250, 250, 250);
} */

/* Project Description */
.project-desc-container{
    background-color: #ff5714;
    border-radius: 30px;
    position: absolute;
    top: 10rem;
    width: 50vw;
    height: 50%;
    right: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.project-desc-title{
    color: rgb(25, 25, 25);
    font-size: 2rem;
    font-weight: normal;
    padding: 3rem;
}
.about-project{
    padding: 3rem;
    font-size: 1.3rem;
    font-weight: lighter;
    color: rgb(25, 25, 25);
}
.usage-container{
    position: absolute;
    padding-top: 2rem;
    top: 10rem;
    left: 1rem;
    width: 50vw;
    color: rgb(25, 25, 25);
    /* background-color: rgb(250, 250, 250); */
}
.how-to-use{
    
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(25, 25, 25);
}